body {
	
	/* font-optical-sizing: auto; */
	font-family: "Lora", serif;
	font-style: normal;
	font-weight: 700;
	}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* mobile **************************/
header {
	/* background-color: #bbb; */
	background-color: #283618;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

/* title {
    display: none;
} */

main {
	margin: 0 auto;
	max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

h1 {
	font-family: "platypi", serif;
	font-size: 3.5em;
	font-weight: 400;
	text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
	color: #fefae0;
	text-shadow: #606c38 5px 5px;
}

nav {
	background-color: #606c38;
	/* background-size: 1%; */
	/* margin:  auto; */
	display: flex;
	justify-content: space-around;
	/* max-width: 800px; */
	/* unicode-bidi: isolate; */
}

/* nav ul {
	list-style-type: none;
} */

nav a {
	/* display: block; */
	/* color: #fff; */
	color: #fefae0;
	text-align: center;
	font-size: 1.5em;
	padding: 1em;
	text-decoration: none;
	width: 100%;
	/* text-shadow: #fefae0 0px 2px; */
}

nav a:hover {
	/* text-decoration:overline; */
    border: 2px solid #fefae0;
	color: #fefae0;
	transition: color 0.3s;
}


.card {
    text-align: center;
    padding: 0 25px 25px 25px;
    /* background-color: #fefae0; */
    margin: 10px;
    border: #bc6c25 1px solid;
    border-radius: 0.5em;
}

h2 {
    display: block;
    font-size: 2em;
	color: #283618;
    margin-block-start: 1em;
    margin-block-end: 0.8em;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
    font-weight: bold;
    unicode-bidi: isolate;
	background-color: #dda15e;
	border-radius: 2em;

}

p {
	font-size: 1.2em;
	/* color: #283618; */
}
/* 
.card div {
    display: flex;
    padding: 5px;
} */

#picture {
    height: 150px;
    border-radius: 50%;
}

.card img {
    height: 100px;
    padding: 5px 10px 0 0;
}

/* img {
    overflow-clip-margin: content-box;
    overflow: clip;
} */

div {
    display: block;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

h4 {
	font-size: 1.5em;
	color: #283618;
	margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 5%;
    margin-inline-end: 5%;
	background-color:#dda15e;
	border-radius: 2em;
	height: 1.5em;
	
	/* padding: 5px; */
}

.resources {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    list-style: none;
    position: relative;
}

.flex a{
	font-size: 1.4em;
	line-height: 1.5em;
	color: #606c38;
}

footer {
    text-align: center;
    font-weight: 400;
	background-color: #283618;
}

footer p {
	color: #fefae0;
	line-height: 2em;
}

footer {
    display: block;
    unicode-bidi: isolate;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav a {
		display: flex;
		justify-content: center;
	}
	nav ul li {
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
	}
}
