/* @media (mix-width: 640px){ */
body {
    font-family: "Vollkorn", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #284b63;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    }

h1 {
	/* font-family: "vollkorn", serif; */
	font-size: 2.5rem;
	font-weight: 500;
	text-align: center;
    margin: 0;
    font-weight: bold;
    unicode-bidi: isolate;
	color: #ffffff;
}

.Home {
    text-align: center; /* Center the text horizontally */
    margin-top: 30px; /* Adjust the margin as needed to center vertically */
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        display: flex;
        color: #d9d9d9;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        text-decoration: none;
        font-weight: 400;
    }

    nav ul {
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav a:hover {
        text-decoration: underline;
        border: 2px solid #ffffff;
        color: #ffffff;
        transition: color 0.3s;
        background-color: #d9d9d9;
        color: #353535;
    }
}

@media (mix-width: 640px) {
    
    header {
        /* background-color: #284b63; */
        flex-direction: column;
        /* grid-gap: 1rem;  */
        align-items: center;
        justify-content: center;
        text-align: center;
    }
        
    .open li {
        display: block;
    }
    
    #menu {
        display: block;
        font-size: 1.5rem;
        border: none;
        background: none;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        padding: 10px;
        right: 20px;
    }

    button {
        appearance: auto;
        text-rendering: auto;
        color: #d9d9d9;
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-align: center;

    }

    .navigation ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }
  
    .navigation.open {
        display: block;
    }

    /* #menu {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
    } */
    
    #menu .icon-bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #353535;
        margin: 5px auto;
    }
    #menu.open .icon-bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    #menu.open .icon-bar:nth-child(2) {
        opacity: 0;
    }
    #menu.open .icon-bar:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
       
    .close-icon {
        display: none;
    }

}

section {
    /* display: block; */
    /* margin: 1rem auto;  */
    max-width: 640px;
    unicode-bidi: isolate;
    padding: 1rem;
    background-color: #fff;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    background-color:#fff;
    width: 100%;
    height: auto;
    margin: .5rem;
    text-align: center;
}

img { 
    display: block;
    width: 100%; 
    height: auto; 
}

figcaption {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    color: #284b63;
}

h2 {
    display: block;
    font-size: 2rem;
	color: #353535;
    margin-block-start: 1.2em;
    /* margin-block-end: 0.5em; */
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}

/* .temples {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    place-items: center;
} */


footer {
    text-align: center;
    font-weight: 400;
	background-color: #353535;
    font-size: 1.2rem;
    display: block;
    unicode-bidi: isolate;
}

footer p {
	color: #d9d9d9;
	line-height: 1.8em;
}

}